https://www.youtube.com/watch?v=Zd_C71THulw

https://youtu.be/Zd_C71THulw

<iframe width="560" height="315" src="https://www.youtube.com/embed/Zd_C71THulw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


https://www.youtube.com/playlist?list=PLrxoTZgiFGjt9Uz4-iFG3cA7XerU6JBAC
<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLrxoTZgiFGjt9Uz4-iFG3cA7XerU6JBAC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


https://open.spotify.com/playlist/37i9dQZF1DWXtlo6ENS92N

<iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DWXtlo6ENS92N" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>

https://open.spotify.com/track/0yIUl79oGZKSYeLY1KEOxP?si=9dd5e4a4d8e54ae5

<iframe src="https://open.spotify.com/embed/track/0yIUl79oGZKSYeLY1KEOxP" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>


https://open.spotify.com/album/0ajbKuAGjGt7VBJeKpYyu8?si=oCfOWamSTT68TJIWFGqd6g&dl_branch=1

<iframe src="https://open.spotify.com/embed/album/0ajbKuAGjGt7VBJeKpYyu8" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>


https://vimeo.com/545512633


<iframe src="https://player.vimeo.com/video/545512633?h=26f8f8018e" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
<p><a href="https://vimeo.com/545512633">Decoding Science</a> from <a href="https://vimeo.com/academies">The National Academies</a> on <a href="https://vimeo.com">Vimeo</a>.</p>


<iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1131691516&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>

https://soundcloud.com/desi_munde/tittar-phangian-sippy-gill-x


<iframe allow="autoplay *; encrypted-media *; fullscreen *" frameborder="0" height="150" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/album/%C3%A0-la-une/615816657?i=615816816"></iframe>

https://music.apple.com/us/album/%C3%A0-la-une/615816657?i=615816816


<iframe allow="autoplay *; encrypted-media *; fullscreen *" frameborder="0" height="450" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/album/musique-damour/615816657"></iframe>

function getId(url) {
  var regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
  var match = url.match(regExp);

  if (match && match[2].length == 11) {
      return match[2];
  } else {
      return 'error';
  }
}
<----------------------------------- JS ---------------------------------->
getId('https://www.youtube.com/watch?v=Zd_C71THulw')
getId('https://youtu.be/Zd_C71THulw')
getId('https://www.youtube.com/embed/Zd_C71THulw')


https://open.spotify.com/embed/track/0yIUl79oGZKSYeLY1KEOxP?si=9dd5e4a4d8e54ae5